.testimonials {
  margin: 150px 0 0;
  .head-section {
    p {
      color: $text-color;
      font-weight: bolder;
    }
    h2 {
      color: $heading-color;
      font-weight: 800;
    }
  }

  .dots {
    li button {
      background-color: #e5e5e5;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 20px;
    }
    li button.active {
      background-color: #39425d;
    }
  }

  .wraper {
    width: fit-content;
  }

  .testimonial {
    position: absolute;
    padding: 40px 60px 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 12px 26px #0000001a;
    background-color: white !important;
    z-index: 2;
    img {
      top: -30px;
      left: -30px;
      width: 68px;
      height: 68px;
      border-radius: 50%;
    }

    p {
      color: $text-color;
    }

    p:first-child {
      line-height: 1.7;
    }

    p.client-name {
      font-weight: 800;
    }
  }

  ul {
    margin-top: auto;
    margin-bottom: auto;
    height: 200px;

    button {
      border: none;
      background: none;
    }

    li {
      cursor: pointer;
    }
  }
}

// Testimonial Animation
.testimonials {
  .testimonial {
    position: absolute;
    transition: all ease-in 0.5s;

    &.active-bottom {
      transform: scale(0.8) translate(20%) !important;
      top: 0;
      margin-right: auto;
      background-color: transparent !important;
      box-shadow: 0px 2px 6px #00000001;
      border: 2px solid #f7f7f7;
      z-index: 1;
      opacity: 1;
    }
    &.active-top {
      transform: scale(1) translate(0);
      top: -130px;
    }
    &.hidden {
      position: absolute;
      transform: scale(0);
      opacity: 0;
      transition: none;
    }
  }
}

.testimonials {
  .owl-carousel {
    margin-top: 150px;
    .owl-item .img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .owl-item img {
      filter: grayscale(1);
      width: 120px !important;
      transition: all ease-in 0.3s;
    }

    .owl-item:hover img {
      filter: grayscale(0);
    }
  }

  @media (max-width: 991px) {
    .head-section {
      text-align: center;
    }

    .testimonial {
      margin: 50px auto;
      max-width: 80%;
    }

    .testimonial img {
      width: 45px;
      height: 45px;
    }

    // .testimonial.hidden-top {
    //   transform: scale(0.8) translateY(110%) !important;
    // }

    // .testimonial.hidden-bottom {
    //   transform: scale(0.8) translateY(-110%) !important;
    // }
    ul {
      display: none !important;
    }
  }

  @media (min-width: 992px) {
    .testimonial {
      width: 95%;
    }
  }
}
